@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(24px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes floating {
	from { transform: translate(0, 0px); }
	to { transform: translate(0, 20px); }
 }
 
 .element {
	animation-name: floating;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
 }

 @keyframes floating2 {
	from { transform: translate(0, 0px); }
	to { transform: translate(0px, 20px); }
 }
 
 .element2 {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
 }