.s-brand{
margin-bottom: 92px;
    h4{
        margin-top: 50px;
        margin-bottom: 23px;
        color: $gray;
    }
    .s-brand__logos{
        display: flex;
        img{
            margin-right: 79px;
        }
    }
   
}