.s-hero{    
    position: sticky;
    z-index: 5;
    h1{
        color:$white;
        font-size:72px;
    }

    p{
        color: $gray-light;
        max-width: 594px;
        font-size: 1.4rem;
        line-height: 150%;
        margin-top: 1rem;
    }

    ul{
        display: flex;
        margin-top: 94px;
        margin-bottom: 2rem;
        li{
            font-weight: 700;
            color: $isles-water;
            margin-left: 16px;

            &:first-child{
                margin-left: 0;
            }
        }
    }

    button{
        margin-top: 25px;
        font-size: 1.4rem; 
        font-weight: 700;
        width: 199px;
        height: 56px;
        color: $white;
        background: #2A2E49;
        border-radius: 11px;
    }

    span{
        font-size: 1.4rem; 
        font-weight: 700;
        color: $white;
        margin-left: 33px;
    }
}

@include responsive(600px){
    .s-hero{
        h1{
            font-size: 58px;
        }

        ul{
            margin-top: 20px;
        }

        button{
            width: 100%;
        }

        span{
            display: none;
        }
    } 
}