@import '_mixins.scss';
@import '_variables.scss';
@import '_animations.scss';
@import '_header.scss';
@import '_s-hero.scss';
@import '_s-details.scss';
//reset
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-size: 10px;
}

img{
    max-width: 100%;
    display: block;
}

html{
   font-size: 62.5%; 
}

html,body{
    overflow-x: hidden;
    width: 100%;

    background: rgb(76,69,112);
    background: radial-gradient(circle, rgba(76,69,112,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 100%);
}

button{
    background-color: transparent;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 124.6rem;
    padding: 0 15px;
    margin: 0 auto;
}

.person{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

.chair{
    position: absolute;
    top: 324px;
    right: -139px;
    z-index: 0;
}

.backpack{
    position: absolute;
    top: 540px;
    left: 100px;
    z-index: 0;
}

.pen{
    position: absolute;
    top: 940px;
    left: -50px;
    z-index: 0;
}

@include responsive(600px){
    .person, .pen, .backpack, .chair{
      display: none
    }    
}